
.lampa {
	display: flex;
}
div.ft {
	display: none;
	float: right;
	margin-top: -40px; 
}
a.mine {
	width: 100px;
	height: 40px;
	margin-left: 100px;
	margin-top: -35px;
}
.abd {
    float: left;
    width: 130px;
    height: 55px;
    margin-left: 40px; 
    margin-top: 20px;
}
.abc {
	padding-left: 185px;
	padding-top: 30px;
} 
.abc a{
	text-decoration: none;
    font-weight: 100;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px; 
	color: black;
	float: left;
	list-style: none;
	height: 50px;
	width: 100%;
}
.abc a:hover {
	text-decoration: none;
	color: #FACB92;
	border-bottom: 5px solid #FACB92;
}
.acb {
	padding-left: 35px;
	padding-top: 30px;
}
.acb a{
    float: left;
	font-size: 16px; 
	font-weight: 100;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	color: #FAC01A;
	text-decoration: none;
	height: 50px;
	width: 100%;
}
.acb a:hover {
	text-decoration: none;
	color: #FACB92;
	border-bottom: 5px solid #FACB92;
}
.cba {
	float: left;
	padding-top: 30px;
	padding-left: 35px;
	font-size: 15px;
	font-weight: 100;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif; 
}
.cba a{
	font-size: 15px;
	float: left;
	font-weight: 100;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif; 
	text-decoration: none;
	list-style: none;
	height: 50px;
	width: 100%;
	color: black;
}
.cba a:hover {
	text-decoration: none;
	color: #FACB92;
	border-bottom: 5px solid #FACB92;
}
.afb {
	float: left;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 35px;
}
.afb a{
    font-size: 15px; 
	color: #FACB92;
	text-decoration: none;
	float: left;
	font-weight: 100;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px; 
	list-style: none;
	height: 50px;
	width: 100%;
}
.afb a:hover {
	text-decoration: none;
	color: #FACB92;
	border-bottom: 5px solid #FACB92;
}
div.alk {
    float: left;
    margin-left: -150px;
    font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-size: 13px; 
	color: #FACB92;
}
div.cmf {
    float: left;
    margin-left: -15px;
    font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-size: 13px; 
		color: #D17121;
}
#nav{
    font-family: 'Open Sans', arial;
}
#nav li{
    float:left;
    position:relative;
    list-style:none;
    background:#fff;
    width: 200px;
}
#nav a{
    text-decoration:none;
    display:block;
    padding:10px 30px;
    color:#333333;
}

#active a, #nav li:hover > a{
    background:#f3f3f3;
}

#nav ul {
	visibility:hidden;
    padding:0;  
    position:absolute;
}
#nav li:hover > ul{
    visibility:visible;
	position: relative;
}

#nav ul a{
	padding:18.5px 20px;
}

#nav ul li:hover{
    background:#f3f3f3;
}

#nav li:first-child:hover > ul{
	left: 0px;
}
#nav > li{
	border-right: 2px solid #f3f3f3;
}
#nav > li:last-child{
	border-right: none;
}
#nav > li ul li{
	border-left: 2px solid #f3f3f3;
	border-right:2px solid #f3f3f3;
}

#nav li:first-child ul li,#nav li:first-child ul{
	border-left:none;
} 
#nav li:last-child ul li,#nav li:last-child ul{
	border-right:none;
} 
#nav li:hover > ul{
    left: -2px;
}
.lya {
	font-weight: 100;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-size: 13px; 
}
.elf {
	background-color: #ffffff;
	width: 600px;
	height: 1225px;
}
.cad {
	float: left; 
	padding-top: 30px;
}
.cad a{
	float: left;
	font-size: 15px;
	font-weight: 100; 
	color: #D17121;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	text-decoration: none;
	list-style: none;
	height: 50px;
	width: 100%;
}
.cad a:hover {
	text-decoration: none;
	color: #FACB92;
	border-bottom: 5px solid #FACB92;
}
.jkiyut {
	margin-top: 50px; 
    font-family: 'Montserrat', sans-serif; 
    font-family: 'Quicksand', sans-serif;
}
.foo {
	background-image: url(png.jpg);
    width: 100%;
    margin-top: -17px;
    min-height: 375px;
}
.mnbv {
	color: #FACB92; 
	font-size: 45px; 
	font-weight: 1000; 
	text-align: center;
}
.capets {
    color:#ffffff;
    font-size: 22px;
    text-align: center; 
}
.ooooof { 
    color:#ffffff;
    font-size: 18px; 
    max-height: 100px;
}
.ooof {
    color:#ffffff;
    font-size: 18px; 
}	
.ciri {
    margin-top: 60px;
    float: left;
    margin-bottom: 60px;
    text-align: center; 
}    
.ciri a{
	background-color: #ffffff;
    border-radius: 5px;
    text-align: center; 
    font-size: 18px;
    padding: 20px;
    text-decoration: none;
    color: #333; 
}
.ciri a:hover {
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
}
.poui {
	margin-top: 60px; 
	float: left; 
    text-align: center; 
	margin-bottom: 60px;
	text-decoration: none;
}
.poui a{
	color: #FFFFFF; 
	background-color: #BFAC82; 
	font-size: 15px; 
	max-width: 30px;
	text-decoration: none;
	padding: 20px;
	border-radius: 5px; 
}
.poui a:hover {
	background-color: #ffffff;
	color: #BFAC82;
	text-decoration: none;
}
.Heyday {
	background-color: #f3f3f3;
	padding-bottom: 30px; 
	float: left;
	padding-top: 40px;
}
h1.klj {
 font-weight: 200; 
 text-align: center;
 padding-top: 51px;
 padding-bottom: 22px;  
 font-family: 'Montserrat', sans-serif;
 font-family: 'Quicksand', sans-serif;
}
h2.rcp {
	color: #CD8E7D;
	text-align: center;
    font-weight: 100;
    font-size: 19.5px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
img.oof {
	float: right;
	margin-right: 38%;
	padding-top: 30px;
}
img.oCf {
	margin-right: 38%;
	float: right;
	padding-top: 35px; 
	padding-bottom: 20px;
}
img.oDf {
	margin-right: 38%;
	float: right;
	padding-top: 35px; 
	padding-bottom: 20px;
}
img.okf {
	margin-right: 44%;
	float: right;
	padding-top: 35px; 
	padding-bottom: 20px;
}
h2.lkj {
    font-weight: 100;
    float: right;
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin-right: 30%;
    padding-top: 20px;
}
h2.pol {
	margin-right: 38%;
	float: right;
    font-size: 20px;
    font-weight: 100; 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
h2.pog {
	float: right;
	margin-right: 33%;
    font-size: 20px;
    font-weight: 100; 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
h2.lop {
	float: right;
	margin-right: 33%;
    font-weight: 100;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
    font-family: 'Quicksand', sans-serif;
}

.uuf {
	float: right;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-size: 13px;
	font-weight: 1000;
    margin-right: 3%;
    width: 95%;
}
.ouf {
	float: right;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-size: 13px;
	font-weight: 1000;
    margin-right: 3%;
    width: 95%;
}
.puf {
	float: right;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-size: 13px;
	font-weight: 1000;
	margin-right: 3%;
	width: 95%;
}
.kuf {
	float: right;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-size: 13px;
	font-weight: 1000;
	margin-right: 3%;
	width: 95%;
}
div.google {
	padding-left: 125px;
	margin-top: 20px;
	float: left;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	background-image: url(11.jpg); 
	width: 103%; 
	background: rgba(0,0,0,0,.5); 
	min-height: 360px;  
    float: left;
}
h3.ploi {
	padding-top: 60px;
	font-size: 20px;
	font-weight: 1000;
}
a.oikl {
	padding-top: 20px;
	float: left;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
}
div.Yia {
	float: right; 
	margin-right: 70%;
	margin-bottom: 70px; 
	margin-top: 40px; 
}
.Yia a{
    background-color: #ffffff;
	padding:15px; 
	border-radius: 10px; 
	float: left;
	color: black;
	text-decoration: none;
}
.Yia a:hover {
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    background-color: #333;
}
div.hgfd {
	font-family: 'Montserrat', sans-serif; 
	font-family: 'Quicksand', sans-serif;
    background-color: #F3F3F3;
    width: 100%;
    max-height: 500px;
    margin-left: -15px;
    margin-right: 0px;
    float: left;
    margin-top: 20px;
}
h1.opiu {
	font-size: 20px; 
	padding-left: 25px;  
	padding-top: 20px; 
	padding-bottom: 20px;
	padding-right: 30%;
	margin-right: -10px;
}
img.oute {
	padding-left: 25px;
	padding-right: 20px;
}
.outf {
	padding-left: 25px;
	padding-right: 20px;
}
a.poiuy {
	padding-left: 48px;
}
.l {
	padding-left: 32px;
}
a.nit {
	padding-left: 18px;
}
a.ytre {
	padding-top: 20px; 
	padding-left: 300px; 
	padding-right: 20px;
}
img.a {
	padding-left: 25px; 
	padding-right: 20px;
}
div.j {
	float: left;
	margin-left: -0px;
	font-size: 18px;
} 
.ponyal {
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif; 
	background-color: #ffffff;
	width: 100%;
	min-height: 400px;
	margin-right: -15px;
}
.tyu {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Quicksand', sans-serif; 
	font-size: 17px; 
	padding-left: 70px;
	font-size: 18px;
	font-weight: 1000; 
	padding-bottom: 20px;
	padding-top: 50px;
}
div.hg {
	font-family: 'Montserrat', sans-serif; float: left; 
	font-family: 'Quicksand', sans-serif;
}
img.of {
	padding-left: 70px; 
	padding-right: 20px;
}
img.otf {
	padding-left: 25px; 
	padding-right: 20px;
}
img.ogf {
	padding-left: 60px; 
	padding-right: 20px; 
}
.f {
	padding-left: 48px;
}
.p {
	padding-left: 70px;
	padding-top: 40px;
	float: left;
}
.ps{
	padding-left: 70px;
	float: left;
	padding-top: 70px;
}
div.gtyh {
	background-image: url(960.jpeg); 
	float: left; 
	min-height: 400px;  
	width: 100%;  
	margin-left: -15px;
	font-family: 'Montserrat', sans-serif; 
	font-family: 'Quicksand', sans-serif;
	font-weight: 800;
}
.zip {
	width: 23%;
}
.opel {
padding-left: 70px; 
padding-top: 50px; 
color: #ffffff; 
padding-bottom: 80px;
}
.poj {
	font-size: 15px; 
	color: #ffffff; 
	padding-left: 60px; 
	padding-bottom: 30px;
	margin-right: 40px;
} 
.w {
	margin-left: 50px;
	float: left;
	margin-right: 20%;
	margin-top: 50px;
}
.w a{
    color: black; 
	background-color: #ffffff; 
    text-decoration: none;
    border-radius: 10px; 
    font-size: 15px;
    padding: 15px; 
}
.w a:hover {
	color: #Ffffff; 
	background-color: black;  
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px; 
}
div.g {
	background-color: #D7B472; 
	font-family: 'Montserrat', sans-serif; 
	float: left; font-family: 'Quicksand', 
	sans-serif; 
	min-height: 116px; 
	width: 100%;
	padding-bottom: 20px;
}
div.b {
	font-size:15px; 
	padding-left: 75px; 
	padding-top: 58px; 
	padding-right: 30px; 
	padding-bottom: 30px; 
	float: left;
}
div.m {
	margin-top: 32px; 
	margin-right: 5%;
}
.m a {
    color: black; 
	background-color: #ffffff;  
	border-radius: 5px; 
	float: right; 
	padding: 15px;
	text-decoration: none;
}
.m a:hover {
	color: #ffffff; 
	background-color: black; 
    padding: 15px; 
	border-radius: 10px; 
	float: right; 
	text-decoration: none;
}
.x {
	background-color: #454545;
	font-family: 'Montserrat', sans-serif; 
	font-family: 'Quicksand', sans-serif; 
	min-height: 255px;
	width: 100%;
	color: #ffffff;
	float: left;
}
.vb {
	float: left;
	padding-top: 60px;
	margin-left: 25%;
}
.k {
	float:left;
	padding-left: 30%;
	padding-top: 53px;
}
.hj {
	float:left;
	padding-left: 30%;
}
.er {
	float: left;
	padding-left: 30%;
}
.end {
	float:left;
	padding-left: 30%;
    width: 90%;
}
.q {
	float: left;
	padding-top: 32px;
	padding-left: 80px;
}
.df {
	padding-top: 36px;
	font-size: 18px; 
    margin-bottom: 3%;
    width: 100px;
}
.off {
	float: left;
	padding-right: 2%;
	padding-top: 10px;
}
.koff {
	float: left;
	padding-right: 2%;
	padding-top: 10px;
}
.yoff {
    float: left;	
    padding-right: 2%;
    padding-top: 10px;
}
.io {
	float: left;
	padding-left: 80px;
	padding-right: 2%;
	padding-top: 10px;
}
.rf {
	float: left; 
	padding-left: 83px;
	padding-right: 30%;
	padding-top: 10px;
}
.code {
	float: left;
	font-size: 15px;
	width: 228px;
	height: 53px;
	border-radius: 7px;
	padding-left: 0px;
}
.gt {
	font-size: 11px;
	margin-right: auto;
	margin-top: 140px;
	margin-left: 25%;
}
.ut {
    float: left;
     margin-left: -10px;
}
.ut a {
	background-color: black; 
	font-size: 12px; 
	padding-left: 20px; 
	padding-top:14px; 
	border-radius: 5px; 
	float: left; 
	padding-bottom:12px; 
	padding-right: 15px; 
	font-size: 20px; 
	color: #BFAC82; 
    text-decoration: none;
}
.ut a:hover {
	background-color: #BFAC82; 
	font-size: 12px; 
	padding-left: 20px; 
	padding-top:14px; 
	border-radius: 5px; 
	float: left; 
	padding-bottom:12px; 
	padding-right: 15px; 
	font-size: 20px; 
	color: black; 
    text-decoration: none;
    text-align: center;
}
.option {
	display: block;
	margin-bottom: 1em; 
	padding-left: 70px;
	float: left;
}
.ooption {
	display: block;
	margin-bottom: 1em; 
	padding-left: 100px;
	float: left;
}
.check__box {
	position: absolute;
	width: 1em;
	height: 1em;
	background-image: url(11.png);
	height: 25px;
	width: 25px;
	margin-left: -2em; 
	float: left;
}
.check___box {
	-webkit-appearance: none;
	position: absolute;
} 
.check___box:checked + .check__box{
    background-image: url(84.png); 
}
.lineal {
	margin-right: 200px
}
.password{
	padding-left: 8px;
	margin-right: 200px;
}
.rose {
    margin-top: -1em;
}
.push {
	padding-left: 12px;
	margin-right: 200px;
}
.margin {
	margin-right: 200px;
}

@media screen and (max-width: 1355px) {
.ouf {
	margin-right: 10%;
}
.puf {
	margin-right: 10%;
}
.kuf {
		margin-right: 10%;
}
.jkiyut {
	margin-top: 40px;
}
.margin {
	margin-right: 0px; 
}
.push {
	margin-right: 0px; 
}
.password {
	margin-right: 0px;
}
.lineal {
	margin-right: 0px;
}
 .abd {
 	height: 40px;
 	width: 120px;
 }
 .abc {
 font-size: 12px; 
 padding-left: 100px;
}
 .cba {
 font-size: 12px; 
}
 .acb {
 font-size: 12px; 
}
 .afb {
 font-size: 12px; 
}
 .cad {
 font-size: 12px; 
}
}
.lineal {
	padding-left: 48px;
}
.rose {
	margin-top: -1em;
}
.password {
    padding-left: 8px;
}
div.j {
	padding-bottom: 0px;
	margin-left: 9px;
	margin-top: -20px;
}
div.Yia {
	float: left;
	margin-right: 0%;
	padding-left: 0px;
}
label.ooption {
	padding-left: 100px;
}
.gt {
	margin-top: 20px;
	margin-left: 20px;
	padding-right: 10px;
	margin-right: 10px;
	width: 800%;
	float: left;
	font-size: 10px; 
}
.er {
	width: 500%;
}
.end {
	width: 400%;
}
.off {
	padding-left: 35px;
	margin-top: -40px;
}
.q {
	padding-left: 0px;
	width: 550%;
}
.rf {
	padding-left: 0px;
	width: 550%;
}
.io {
	padding-left: 0px; 
}
.koff {
    padding-left: 65px;
    margin-top: -40px;
}
.yoff {
    padding-left:98px;
    margin-top: -40px
}
.vb {
	float: left;
	padding-top: 60px;
	margin-left: 20px;
	margin-right: 40%;
}
.j {
	padding-left: 35px;
	padding-bottom: 12px;
}
.code {
	width: 180px;
	height: 54px;
	margin-left: -20px;
    float: left;
    padding-left: 10px;
}
.ut {
	float: left;
	margin-left: 140px;
	margin-top: -54px;
}
.df {
	margin-left: -20px;
	font-size: 15.5px;
	width: 550%;
	padding-bottom: 20px; 
}
div.b {
	padding-bottom: 10px;
	padding-top: 30px;
}
div.m {
    margin-top: 20px;
}
.x {
	min-height: 200px;
}

@media screen and (max-width: 1130px) {
div.g {
	min-height: 80px;
}
div.tyu {
	font-size: 14px; 
}
.ciri a{
	font-size: 11px;
	padding: 16px;
}
.ponyal {
    min-height: 150px;
}
div.gtyh {
	min-height: 340px;
}
div.p {
	padding-top: 20px;
	padding-bottom: 30px;
}
div.opel {
	padding-bottom: 20px;
	padding-top: 30px;
	padding-left: 50px; 
}
.k {
	padding-top: 40px;
}
.ciri a:hover{
	font-size: 11px;
	padding: 16px;
}
.poui a{
	font-size: 10px;
	padding: 16px;
}
.poui a:hover{
	font-size: 10px;
	padding: 16px;
}
.lampa {
	display: none;
}
div.ft {
	display: block;
}
.abd {
	margin-top: -40px;
}
.foo {
	margin-top: 50px;
}
.mnbv {
	font-size: 38px;
}
.hgfd {
	font-size: 13px; 
}
.outf {
	margin-left: -15px;
    padding-right: 5px;
}
a.nit {
	margin-left: 4px;
    padding-right: 5px;
}
img.oute {
	margin-left: 4px;
    padding-right: 5px;
}
.capets {
	font-size: 20px; 
}
img.oof {
    margin-right: 27%;
} 
img.oCf {
    margin-right: 29%;
}
img.oDf {
    margin-right: 27%;
}
img.okf {
	margin-right: 35%;
}
.uuf {
    font-size: 11px;
    margin-right: 0%;
    font-weight: 600; 
    max-width: 290px; 
}
.ouf {
	font-size: 11px;
	margin-right: 0%;
	font-weight: 600; 
	max-width: 290px; 
}
.puf {
	font-size: 11px;
	margin-right: 0%;
	font-weight: 600; 
	max-width: 290px; 
}
.kuf {
	font-size: 11px;
	margin-right: 0%;
	font-weight: 600; 
	max-width: 290px; 
}
h2.lkj {
    font-size: 20px;
    font-weight: 1000;
    margin-right: 22%;   
}	
h2.pol {
    font-size: 20px;
    font-weight: 1000;
    margin-right: 33%;   
}
h2.pog {
    font-size: 20px;
    font-weight: 1000;
    margin-right: 23%;   
}
h2.lop {
    font-size: 20px;
    font-weight: 1000;
    margin-right: 22%;   
}
div.google {
	padding-left: 50px;
}
a.oikl {
	font-size: 15px;
	font-weight: 1000;  
	margin-right: 5%; 
}
.Heyday {
	padding-bottom: 50px;
}
.tyu {
	font-size: 15px;
	padding-left: 25px; 
}
img.of {
	padding-left: 25px;
	padding-right: 5px;
}
img.otf {
	padding-left: 15px;
	padding-right: 5px;
}
img.ogf {
	padding-left: 50px;
	padding-right: 5px;
}
.p {
	padding-left: 25px; 
}
.gt {
	margin-top: 20px;
	margin-left: 20px;
	padding-right: 10px;
	margin-right: 10px;
	width: 800%;
	float: left;
	font-size: 10px; 
}
.er {
	width: 500%;
}
.end {
	width: 400%;
}
.off {
	padding-left: 35px;
	margin-top: -40px;
}
.q {
	padding-left: 0px;
	width: 550%;
}
.rf {
	padding-left: 0px;
	width: 550%;
}
.io {
	padding-left: 0px; 
}
.koff {
    padding-left: 65px;
    margin-top: -40px;
}
.yoff {
    padding-left:98px;
    margin-top: -40px
}
.vb {
	float: left;
	padding-top: 60px;
	margin-left: 20px;
	margin-right: 40%;
}
.j {
	padding-left: 35px;
	padding-bottom: 12px;
}

.code {
	width: 180px;
	height: 54px;
	margin-left: -20px;
    float: left;
    padding-left: 10px;
}
.ut {
	float: left;
	margin-left: 140px;
	margin-top: -54px;
}
.df {
	margin-left: -20px;
	font-size: 15.5px;
	width: 600%;
	padding-bottom: 20px; 
}
div.b {
	padding-bottom: 10px;
	padding-top: 30px;
}
div.m {
    margin-top: 20px;
}
.x {
	min-height: 200px;
}
label.ooption {
	padding-left: 60px;
}
}
@media screen and (max-width: 990px) {
.opel {
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 60px;
}
.w {
	margin-right: 40%;
	margin-left: 20px;
	padding-left: 10px; 
}
h2.lkj {
    font-size: 13px;
    font-weight: 600; 
    margin-right: 28%;   
}	
h2.pol {
    font-size: 13px;
    font-weight: 600; 
    margin-right: 32%;   
}
h2.pog {
    font-size: 13px;
    font-weight: 600; 
    margin-right: 28%;   
}
h2.lop {
    font-size: 13px;
    font-weight: 600; 
    margin-right: 23%;   
}
.lineal {
	margin-left: -12px;
}
.password {
	margin-left: -5px;
}
.ooption {
	padding-left: 62px;
}
.poj {
	padding-bottom: 10px;
	padding-left: 20px; 
	font-size: 13px; 
}
div.gtyh {
	min-height: 320px;
}
.tyu {
	padding-top: 30px;
}
.p{
	padding-top: 10px;
	font-size: 15px; 
}
.ponyal {
    min-height: 300px;
}
.gt {
	margin-top: 20px;
	margin-left: 20px;
	padding-right: 10px;
	margin-right: 10px;
	width: 400%;
	float: left;
	font-size: 10px; 
}
.er {
	width: 200%;
}
.end {
	width: 200%;
}
.q {
	padding-left: 0px;
	width: 250%;
}
.rf {
	padding-left: 0px;
	width: 250%;
}
.io {
	padding-left: 0px; 
}
.koff {
    padding-left: 67px;
    margin-top: -38px;
}
.yoff {
    padding-left:100px;
    margin-top: -40px
}
.vb {
	float: left;
	padding-top: 60px;
	margin-left: 20px;
	padding-right: 10px;
	margin-right: 40%;
}
.off {
	margin-left: -2px;
}
.j {
	padding-left: 35px;
	padding-bottom: 12px;
}
.uuf {
    font-size: 11px;
    margin-right: 0%;
    font-weight: 600; 
    max-width: 290px; 
}
.ouf {
	font-size: 11px;
	margin-right: 0%;
	font-weight: 600; 
	max-width: 290px; 
}
.puf {
	font-size: 11px;
	margin-right: 0%;
	font-weight: 600; 
	max-width: 290px; 
}
.kuf {
	font-size: 11px;
	margin-right: 0%;
	font-weight: 600; 
	max-width: 290px; 
}
.code {
	width: 180px;
	height: 54px;
	margin-left: -20px;
    float: left;
    padding-left: 10px;
}
.ut {
	float: left;
	margin-left: 140px;
	margin-top: -54px;
}
.df {
	margin-left: -20px;
	font-size: 15.5px;
	width: 260%;
	padding-bottom: 20px; 
}
.x {
	min-height: 180px;
}
div.b {
	padding-bottom: 10px;
	padding-top: 30px;

}
div.g {
	min-height: 60px;
}
div.m {
    margin-top: 20px;
}
.ciri a{
    font-size: 18px; 
    padding: 20px; 
}
.poui a{
    font-size: 18px;
    padding: 20px; 
}
}
@media screen and (max-width: 760px) {
.zip {
	width: 48%;
}
.hj {
	margin-left: 40px;
}
.ut {
	margin-top: 0px;
	margin-left: -10px;
}
.off {
	padding-top: 50px;
	margin-left: -40px;
}
.yoff {
	margin-left: -100px;
	margin-top: 0px
}
.koff {
	margin-top: 0px;
	margin-left: -70px;
}
.uuf {
    font-size: 12px;
    margin-right: 10%; 
}
.df {
	width: 90%;
}
.ouf {
	font-size: 12px;
	margin-right: 10%; 
}
.puf {
	font-size: 12px;
	margin-right: 10%; 
}
.kuf {
	font-size: 12px;
	margin-right: 10%; 
}
h2.lkj {
    font-size: 20px;
    font-weight: 1000;
    margin-right: 32%;   
}	
h2.pol {
    font-size: 20px;
    font-weight: 1000;
    margin-right: 40%;   
}
h2.pog {
    font-size: 20px;
    font-weight: 1000;
    margin-right: 32%;   
}
h2.lop {
    font-size: 20px;
    font-weight: 1000;
    margin-right: 30%;   
}
img.oof {
    margin-right: 40%;
} 
img.oCf {
    margin-right: 42%;
}
img.oDf {
    margin-right: 37%;
}
img.okf {
	margin-right: 43%;
}
div.Yia {
    margin-right: 70%;
}
.ponyal {
	display: none;
}
div.hgfd {
	margin-top: -5px;
}
div.j {
	margin-left: -140px; 
}
h1.opiu {
    padding-left: 40px;
}
.lineal {
	margin-right:200px;
	margin-left: -9px;
}
.margin {
	margin-right:200px;
}
.password {
	margin-right: 200px;
}
.opel {
	margin-left: 2px;
}
.poj {
	margin-left: 40px;
}
.w {
	float: left;
	margin-left: 40px;
	margin-top: 30px;
}
div.google {
	width: 98%;
}
div.m {
	margin-right: 73%;
	padding-left: 0px;
	margin-left: 0px; 
}
.ciri a{
    font-size: 15px; 
    padding: 15px; 
}
.poui a{
    font-size: 15px;
    padding: 15px; 
}
div.b {
	padding-left: 30px;
	padding-top: 30px;
	max-width: 400px;
}
div.gtyh{
    min-height: 300px;
} 
.vb{
    padding-top: 10px;
    margin-left: 32px;
    margin-right: 50%
}
.gt {
	margin-top: 30px;
	margin-left: 32px;
	width: 90%;
}
.poj {
	padding-left: 17px;
	padding-bottom: 10px;
}
.opel {
	padding-left: 17px;
	padding-bottom: 20px;
}
.k {
	float: left; 
	padding-left: 0px;
	padding-top: 30px;
}
.hj {
    float: left; 
    padding-left: 70px;
    padding-top: 30px;
}
.q {
    padding-left: 30px;
    width: 90%;
}
.rf {
    padding-right: 50%;
    padding-left: 30px;
    width: 120%;
}
.io {
    padding-left: 30px;
}
.er {
    float: left; 
    padding-left: 0px;
    padding-top: 20px;
    width: 50%;
}
.end {
    float: left; 
    padding-left: 40px;
    padding-top: 20px;
    width: 50%;
}
}
@media screen and (max-width: 590px) {
.margin {
	margin-right: 0px;
}
.lineal {
	margin-right: 0px;
}
div.google {
	width: 103%;
}
.koff {
	margin-top: 0px;
}
.password {
	margin-right: 0px;
}
.gt {
	margin-top: 10px;
	width: 90%;
}
.capets {
	font-size: 16px;
}
.vb {
	padding-top: 10px;
}
div.alk {
	font-size: 8px; 	
    margin-left: 20px;
    margin-top: 2.5px;
}
div.cmf {
	font-size: 8px;
	margin-left: 5px;
	margin-top: 2.5px;
}
a.mine {
margin-left: 90px;

}
#nav a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 80px;
}
.uuf {
    font-size: 13px;
    margin-right: 5%;
    max-width: 290px; 
}
.ouf {
	font-size: 13px;
	margin-right: 5%;
	max-width: 290px; 
}
.puf {
	font-size: 13px;
	margin-right: 5%;
	max-width: 290px; 
}
.kuf {
	font-size: 13px;
	margin-right: 5%;
	max-width: 290px; 
}
h2.lkj {
    font-size: 20px; 
    margin-right: 25%;
}
h2.pol {
    font-size: 20px; 
    margin-right: 35%;
}
h2.pog {
    font-size: 20px; 
    margin-right: 25%;
}
h2.lop {
	font-size: 20px; 
    margin-right: 25%;
}
img.oof {
    margin-right: 35%;
}
img.oCf {
    margin-right: 35%;
}
img.oDf {
    margin-right: 30%;
}
img.okf {
    margin-right: 40%;
}
div.Yia {
    margin-right: 65%;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 1200; 
    min-width: 200px;
}
.option {
	padding-left: 70px;
	font-size: 15px; 
	padding-right: 0px;
}
div.hgfd {
	width: 103%;
	min-height: 300px;
}
.ponyal {
	display: none;
}
div.gtyh {
	width: 100%;
}
div.b {
	padding-left: 20px;
    padding-top: 10px;
    font-weight: 2000;
    font-size: 16px;  
}
div.m {
	margin-top: 12px;
	margin-right: 60%;
}
div.g {
    width: 103%;
}
.lineal {
	margin-right: 100px;
}
div.j {
	margin-left: -200px;
}
.m {
	padding-right: 8%;
}
.foo  {
	width: 100%;
}
.vb {
	margin-left: 5%;
}
.gt {
	margin-left: 5%;
	width:90%;
}
.k {
    padding-left: 5%;
    padding-top: 5%;
}
.hj {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 40%;
}
.er {
    padding-left: 5%;
    padding-top: 5%;
    width: 50%;
}
.end {
	padding-left: 0%;
	padding-top: 5%;
	margin-left: -70px;
    width: 50%;
}
.q {
	padding-left: 5%; 
	width: 90%;
}
.rf {
	padding-left: 30px;
	margin-right: 0%; 
	width: 100%;
}
.io {
    padding-left: 30px;
}
.df {
	padding-left: 60px;
	width: 90%;
}
.code {
	margin-left: 30px;
} 
.x {
    width: 103%;
}
.zip {
	width: 90%;
}
.vb {
	padding-top: 10px;
	margin-right: 70%;
}
.gt {
	padding-top: 0px;
	width: 90%;
}
div.hgfd {
	margin-top: -5px;
	width: 103%;
}
h1.opiu {
	margin-right: 5%;
	width: 70%;
	margin-right: 1%; 
}
.poj {
	padding-left: 32px;
	padding-bottom: 20px;
}
.w {
	margin-left: 32px;
	margin-top: 20px;
}
div.gtyh {
	min-height:325px; 
    width: 105%;
}
div.hgfd {
	width: 105%;
}
.opel {
	padding-left: 32px;
	padding-bottom: 20px;
	padding-top: 30px;
}
.foo {
    width: 103%;
}
}
@media screen and (max-width: 460px) {
.margin {
	margin-right: 0px;
}
.koff {
	margin-top: 10px;
}
.lineal {
	margin-right: 0px;
}
.password {
	margin-right: 0px;
}
.zip {
	width: 90%;
}
div.m {
	margin-right: 47%;
}
.lineal {
	margin-left: -9px;
	margin-right: 0px;
}
.option {
	display: block;
	margin-bottom: 1em; 
	padding-left: 45px;
	float: left;
	margin-right: 0px;
	font-size: 13px; 
}
div.hgfd {
	margin-top: -5px;
	width: 110%;
}
div.j {
	margin-left: 20px;
	font-size: 12px; 
	margin-top: -40px;
}
h2.klj {
    font-size: 16px;
    margin-left: 45px; 
}
h2.lkj {
    font-size: 16px;
    margin-left: 45px; 
}
h2.pol {
    font-size: 16px;
    margin-left: 45px; 
}
h2.pog {
    font-size: 16px;
    margin-left: 45px; 
}
img.oof {
    margin-right: 30%;
}
img.oCf {
    margin-right: 30%;
}
img.oDf {
    margin-right: 25%;
}
img.okf {
    margin-right: 35%;
}
h2.lop {
    font-size: 18px;
    font-weight: 1000;
    margin-right: 18%;   
}
div.Yia {
    margin-right: 50%;
}
.vb {
	padding-top: 10px;
	margin-right: 50%;
}
.gt {
	margin-top: 20px;
	width: 90%;
}
.rf {
	padding-left: 22px;
	padding-right: 20%;
	width: 120%;
}
.io {
	float: left;
	padding-left: 22px;
	padding-right: 2%;
	padding-top: 10px;
}
h2.lkj {
    margin-left: -10%;
}
h2.pog {
    margin-left: -10%;
}
.poj {
	padding-left: 12px;
	padding-bottom: 20px;
	font-size: 13px; 
}
.opel {
	padding-left: 13px;
}
div.gtyh {
	width: 110%;
}
.capets {
	font-size: 12px; 
}
.ciri a{
    padding: 12px;
    font-size: 12px;
}
.poui a{
	padding: 12px;
    font-size: 12px;
}
a.oikl {
   font-size: 13px;
}
div.google {
	padding-left: 20px;
	width: 105%;
}
}